.main-header {
    min-height: auto;
}

.main-header .logo {
    font-size: 1.2em;
    color: var(--clrPrimary-1);
}

.main-header .main-nav-list a {
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
}

.main-header .main-nav-list a:hover {
    color: var(--clrPrimary-1);
    text-decoration: underline;
}