* {
   box-sizing: border-box;
}

header{
    background-color: ivory;
}

body{
    background-color: lightslategray;
}

footer{
    color: ivory;
    background-color: rgb(10, 10, 10);
}

canvas{
    border: 3px solid black;
}